<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}LINSPECTOR{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'inspector/custom.css' %}">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand navbar-dark bg-primary">
      <a class="navbar-brand" href="/">LINSPECTOR</a>
      <a class="btn btn-outline-light ml-auto" href="https://github.com/maexe/linspector-server" role="button">GitHub</a>
    </nav>
  </header>
  <section id="content" class="my-4">
    {% block content %}{% endblock %}
  </section>
  <footer class="py-3 text-center">
    <ul class="list-inline">
      <li class="list-inline-item"><a href="https://www.informatik.tu-darmstadt.de/ukp/impressum.en.jsp">Legal Note</li>
      <li class="list-inline-item"><a href="https://www.tu-darmstadt.de/datenschutzerklaerung.en.jsp">Privacy Policy</li>
    </ul>
  </footer>
  {% block javascript %}{% endblock %}
</body>
</html>
