{% extends 'inspector/docs_base.html' %}

{% block title %}Paper - {{ block.super }}{% endblock %}

{% block docs %}
<h1 id="about" class="font-weight-light">LINSPECTOR WEB: A Multilingual Probing Suite for Word Representations</h1>

<div class="my-3">
  <a class="btn btn-outline-primary" href="https://arxiv.org/abs/1907.11438">Read</a>
</div>

<h2 class="font-weight-normal">Abstract</h2>

<p>We present LINSPECTOR WEB, an open source multilingual inspector to analyze word representations. Our system provides researchers working in low-resource settings with an easily accessible web based probing tool to gain quick insights into their word embeddings especially outside of the English language. To do this we employ 16 simple linguistic probing tasks such as gender, case marking, and tense for a diverse set of 28 languages. We support probing of static word embeddings along with pretrained AllenNLP models that are commonly used for NLP downstream tasks such as named entity recognition, natural language inference and dependency parsing. The results are visualized in a polar chart and also provided as a table. LINSPECTOR WEB is available as an offline tool or at <a href="https://linspector.ukp.informatik.tu-darmstadt.de">https://linspector.ukp.informatik.tu-darmstadt.de</a>.</p>

<h2 class="font-weight-normal">Citation</h2>

<pre><code>@article{DBLP:journals/corr/abs-1907-11438,
  author    = {Max Eichler and
               G{\"{o}}zde G{\"{u}}l Sahin and
               Iryna Gurevych},
  title     = {{LINSPECTOR} {WEB:} {A} Multilingual Probing Suite for Word Representations},
  journal   = {CoRR},
  volume    = {abs/1907.11438},
  year      = {2019},
  url       = {http://arxiv.org/abs/1907.11438},
  archivePrefix = {arXiv},
  eprint    = {1907.11438},
  timestamp = {Thu, 01 Aug 2019 08:59:33 +0200},
  biburl    = {https://dblp.org/rec/bib/journals/corr/abs-1907-11438},
  bibsource = {dblp computer science bibliography, https://dblp.org}
}
</code></pre>

{% endblock %}
